<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>
  <div class="background"></div>

  <div class="blogs content">
    <h2 class="entry">All Entries:</h2>

    <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="blog-title"><%= blog.title %></h3>
          <p class="blog-snippet"><%= blog.snippet %></p>
        </a>
      <% }) %>
    <% } else { %>
      <p>you have not shared anything with us... :(</p>
    <% } %>
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>